body{
    background-color: grey;
}

table{
    padding: 10vh auto 10vh auto;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    padding: 0;
}

img{
    display: block;
    width: 50px;
    height: 50px;
}

.imgtop{
    z-index: 1;
    position: absolute;
}

.boardContainer{
    height: 100vh;
    padding: 10vh;
}

.rotationNeeded0{
    transform: rotate(0deg);
}

.rotationNeeded90{
    transform: rotate(90deg);
}

.rotationNeeded180{
    transform: rotate(180deg);
}

.rotationNeeded270{
    transform: rotate(270deg);
}




@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
